*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: black;
    height: 100vh;
}
.head{
    font-size: 30px;
    color: white;
}
.cards{
    margin-left: auto;
    /* color: white; */
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: white;
    min-height: 60vh;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.topb{
    display: flex;
    min-height: 10vh;
    justify-content: space-between;
    flex-direction: column;
}
.midb{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 40px;
}
.lowb{
    display: flex;
    justify-content: center;
}

.btncont{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}